@-webkit-keyframes animate-svg-stroke-1 {
	0% {
		stroke-dashoffset: 9543.9306640625px;
		stroke-dasharray: 9543.9306640625px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 9543.9306640625px;
	}
}

@keyframes animate-svg-stroke-1 {
	0% {
		stroke-dashoffset: 9543.9306640625px;
		stroke-dasharray: 9543.9306640625px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 9543.9306640625px;
	}
}

@-webkit-keyframes animate-svg-fill-1 {
	0% {
		fill: transparent;
	}

	100% {
		fill: rgb(204, 204, 204);
	}
}

@keyframes animate-svg-fill-1 {
	0% {
		fill: transparent;
	}

	100% {
		fill: rgb(204, 204, 204);
	}
}
 
#welcome_path {
	-webkit-animation: animate-svg-stroke-1 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
								animate-svg-fill-1 0.5s linear 1.2s both;
				animation: animate-svg-stroke-1 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
						animate-svg-fill-1 0.5s linear 1.2s both;
}

.open-enter-active,
.open-leave-active {
	transition: all .5s ease-in-out;
	transform: rotateY(0deg);
	opacity: 1;
}

.open-enter-from,
.open-leave-to {
	opacity: 0;
	transform-origin: 100%;
	transform: rotateY(90deg);
}